spring:
  application:
    name: varaha-web-services
  datasource:
    url: jdbc:h2:mem:varahadb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  servlet:
    mime-mappings:
      yaml: text/yaml
      yml: text/yaml
