name: CI - Build and Push to AWS ECR

on:
  workflow_dispatch:

jobs:
  build-and-push-ecr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'   # or your version

      - name: Build with Gradle
        run: ./gradlew clean build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2   # your region

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region us-west-2 \
            | docker login \
              --username AWS \
              --password-stdin 065967698165.dkr.ecr.us-west-2.amazonaws.com

      - name: Build Docker image
        env:
          ECR_REGISTRY: 065967698165.dkr.ecr.us-west-2.amazonaws.com
          ECR_REPOSITORY: varaha-web-services
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker tag $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:latest

      - name: Push Docker image to ECR
        env:
          ECR_REGISTRY: 065967698165.dkr.ecr.us-west-2.amazonaws.com
          ECR_REPOSITORY: varaha-web-services
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest
